.root {
	width: 38px;
	height: 24px;
	margin: 10px;
	padding: 0;
	box-sizing: border-box;
	background: #1c2025;
	border: 1px solid #303740;
	border-radius: 24px;
	display: inline-flex;
	align-items: center;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 120ms;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.root[data-disabled] {
	opacity: 0.4;
	cursor: not-allowed;
}

.root:hover:not([data-disabled]) {
	background: #303740;
	border-color: #6b7a90;
}

.root[data-focus-visible='true'] {
	box-shadow: 0 0 0 3px #063c47;
}

.root[data-selected='true'] {
	border: none;
	background: #0d5463;
}

.root[data-selected='true']:not([data-disabled]):hover {
	background: #063c47;
}

.thumb {
	box-sizing: border-box;
	border: 1px solid #303740;
	display: block;
	width: 16px;
	height: 16px;
	left: 4px;
	border-radius: 16px;
	background-color: #fff;
	position: relative;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 120ms;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.root[data-selected='true'] .thumb {
	left: 18px;
	background-color: #fff;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
