.grid {
	width: 100%;
	border-collapse: collapse;
}

.header {
	text-align: left;
	font-weight: normal;
}

.header > td {
	padding-top: 50px;
}

.subheader {
	text-align: left;
	margin-top: 1em;
}

.subheader h3 {
	font-weight: normal;
}

.columnHeader {
	opacity: 0.75;
}

.demo {
	margin: 24px;
	display: flex;
	justify-content: center;
}
